
body {
    background: url('../img/shattered.png');
}

.services {
    margin-left: 112px;
}
.services .checkbox {
    display: block;
    margin-bottom: 5px;
}

label.fixed {
    width: 100px !important;
    text-align: right;
}

.ui.form .field {
    margin: 0 0 0.5em !important;;
}

.accordion .content {
    border-top: 1px solid #eee
}

.ui.styled.accordion .active.title {
    background: #eee;
}

#leads tbody tr {
    cursor: pointer;
}


table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 2px solid #bbb !important;
}

table.green thead th {  border-color: #21ba45 !important }
table.teal thead th {  border-color: #00b5ad !important }
table.blue thead th {  border-color: #1678c2 !important }
table.violet thead th {  border-color: #5829bb !important }
table.purple thead th {  border-color: #a333c8 !important }
table.pink thead th {  border-color: #e03997 !important }
table.brown thead th {  border-color: #a5673f !important }
table.orange thead th {  border-color: #f2711c !important }
table.red thead th {  border-color: #db2828 !important }
table.olive thead th {  border-color: #b5cc18 !important }
table.grey thead th {  border-color: #767676 !important }
table.yellow thead th {  border-color: #fbbd08 !important }


table.dataTable.no-footer {
    border-bottom: 1px solid #bbb !important;
}

#lead-modal .delete.button {
    float: left;
}

#lead-modal .content.active, .content.animating {
    background: #eee;
    border-top: 1px solid #ddd;
}

#lead-modal .ui.form .field :disabled {
    opacity: 1;
}


.by {
    margin-left: 10px;
}

.rectify.button {
    margin-top: 10px;
}

.new-lead.button {
    background-color: white;
}

.right.inline.field {
    text-align: right;
}