body {
    background: url('../img/shattered.png');

    padding: 80px 20px 0;
}


.new { color: #21ba45; }
.open { color: #00b5ad; }
.booked { color: #1678c2; }
.booked_quote { color: #5829bb; }
.booked_email { color: #a333c8; }
.booked_upsell { color: #e03997; }
.inbound_booked { color: #fbbd08; }
.inbound_declined { color: #f2711c; }
.declined { color: #db2828; }
.closed { color: #a5673f; }
.invalid { color: #767676; }


